@page "/"

<PageTitle>Início</PageTitle>

<h1>Olá!</h1>

<h3>Bem vindo ao seu Sistema de Cadastro de Profissionais da Saúde !</h3>
<br />

<h5>Clique na aba Profissionais para visualizar os profissionais cadastrados e se cadastrar.</h5>
<br />

<SurveyPrompt Title="Para mais Informações sobre voluntariado no Município de São Paulo" />
