@page "/professionallists"

@inject IProfessionalListService ProfessionalListService
@inject NavigationManager NavigationManager



<PageTitle>Profissionais Voluntários</PageTitle>

<h3>Profissionais Voluntários</h3>

<table class="table">
  <thead>
        <tr>
            <th>Nome/Especialidade</th>
            <th>Telefone para Contato/Região de atendimento</th>
            <th>Disponibilidade</th>
            <th></th>
        </tr>
  </thead>
  <tbody>
      @foreach (var list in ProfessionalListService.Lists)
      {
        <tr>
            <td>@list.Name</td>
            <td>@list.Position</td>
            <td>@list.Style.Name</td>
            <td>
                    <button class="btn btn-primary" @onclick="(() => ShowList(list.Id))"><i class="oi oi-pencil"></i></button>
            </td>
    </tr>
      }
  </tbody>
    
</table>
<button class="btn btn-primary" @onclick="CreateNewProfessional">Cadastrar Novo Profissional</button>

  
   
@code {

    protected override async Task OnInitializedAsync()
    {
        await ProfessionalListService.GetProfessionalLists();
    }

    void ShowList(int id)
    {
        NavigationManager.NavigateTo($"list/{id}");
    }

    void CreateNewProfessional()
    {
        NavigationManager.NavigateTo("/list");
    }
}
